<a href="https://colab.research.google.com/github/nadafrehan/Python-Daily-Classes/blob/main/REHAN16_09_2025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Example = ["laptop", 39000, "Windows","Lenovo", "Benguluru", "Laptop",39000,"MAC","Lenovo", "Chikkodi"]
print(Example)
print(Example.count("Lenovo"))

['laptop', 39000, 'Windows', 'Lenovo', 'Benguluru', 'Laptop', 39000, 'MAC', 'Lenovo', 'Chikkodi']
2

In [ ]:
#Run time program

X = int(input("Enter X value"))
Y = int(input("Enter Y value"))
print("Addition of", X , "And",Y, "Value is = ", X+Y)

#Addition of 10 and 20 value is = 30

Enter X value10
Enter Y value20
Addition of 10 And 20 Value is =  30

In [ ]:
first = float(input("Enter first Value  "))
Second = float(input("Enter second value  "))
print(first * Second)

Enter first Value  10
Enter second value  20
200.0

In [ ]:
first_name = input("Enter first name : ")
last_name =  input("Enter last name : ")
print(first_name+ " "+ last_name)

Enter first name : Rehan
Enter last name : Nadaf
Rehan Nadaf

In [ ]:
I = int(input("enter the value of I : "))
J = int(input("Enter the value of J : "))
print(I * J)

enter the value of I : 10
Enter the value of J : 20
200

In [ ]:
i = input()
j = input()
print(i + j)

bkc
collage
bkccollage

In [ ]:
X = 100
Y = 50
print(f'Addition of {X} and {Y} value is = {X+Y}')

Addition of 100 and 50 value is = 150

In [ ]:
X = 100
Y = 50
print(f'Division of {X} and {Y} value is = {X/Y}')

Division of 100 and 50 value is = 2.0

In [ ]:
#Hi,GOOD morning MY name is sujal,i have completed 2nd puc in the year of 2025,cureently i'm studing in BK BCA college Ckilodi 591 201
name="sujal"
cource="PUC"
year=2025
department="BCA"
pincode=591201

print(f"Hi,Good morning my name is {name},i have completed  {cource}, in the year of {year},cureently i'm studing in BK {department}, college Chikodi {pincode}")

Hi,Good morning my name is sujal,i have completed  PUC, in the year of 2025,cureently i'm studing in BK BCA, college Chikodi 591201

In [ ]:
Num1 = int(input("Enter Num1 value : "))
Num2 = int(input("Enter Num2 Value : "))
print()
print("Addition of two Number is : ",Num1 + Num2)
print()
print("Multiplication of two mumber is : ",Num1 * Num2)
print()
print("Division of two mumber is : ",Num1 / Num2)
print()
print("Floor Division of two mumber is : ",Num1 // Num2)
print()
print("Modulus of two mumber is : ",Num1 % Num2)

X = 5
Y = 3
print()
print("Exponent value is :", X ** Y )

Enter Num1 value : 10
Enter Num2 Value : 20

Addition of two Number is :  30

Multiplication of two mumber is :  200

Division of two mumber is :  0.5

Floor Division of two mumber is :  0

Modulus of two mumber is :  10

Exponent value is : 125

In [ ]:
number1 = 35
number2 = 40
print(number1 > number2)
print()
print(number2 < number1)
print()
print(number1 == 35)
print()
print(number1 <= number2)
print()
print(number1 >= number2)
print()
print(number1 == number2)
print()
print(number1 != number2)

False

False

True

True

False

False

True

In [ ]:
X = 10
print(X)

X -= 2
print(X)

X *=5
print(X)

X //= 3
print(X)

X **= 2
print(X)

X +=9
print(X)

X /=3
print(X)

10
8
40
13
169
178
59.333333333333336

In [ ]:
Num = 9
if Num < 10 :
  print("10 is greater then 9")

10 is greater then 9

In [ ]:
user_id = "20MCA123"
Password = 1234
if user_id == "20MCA123" and Password == 1234 :
  print("login successfuly")

login successfuly

In [ ]:
Ex = 59
if Ex ==58 :
  print("are you understand")

In [ ]:
Name = "Rehan"
if Name <=  "BKC"
  print("My Name is Rehan")

SyntaxError: expected ':' (ipython-input-1258047537.py, line 2)

In [ ]:
num = int(input("Enter a number: "))

if num  > 0 :
    print("Positive Number")
else :
    print("Negative Number")

Enter a number: 10
Positive Number

In [ ]:
num = int(input("Enter a number: "))

if num % 2 == 0:
    print("Even number")
else:
    print("odd number")

Enter a number: 2
Even number

In [ ]:
year = int(input("Enter a year: "))
if year % 4 == 0 :
    print("It is the leap year")
else:
    print("It is not the leap year")

Enter a year: 2026
It is not the leap year

In [ ]:
Age = int(input("Enter the Age : "))
if Age  >= 18 :
    print("You are eligible voting ")
else :
    print("you are not elegible for voting ")

Enter the Age : 18
You are eligible voting

In [ ]:
user_id = input("Enter User ID: ")
password = getpass.getpass("Enter Password: ")

if user_id == "admin" and password == "password":
    print("Login successful!")
else:
    print("Invalid User ID or Password.")

In [ ]:
marks = int(input("Enter Marks : "))
if marks >= 85 :
  print("Distiction")
elif marks >= 70:
 print("first class")
elif marks >=55 :
      print("Secound class")
elif marks >= 35 :
        print("Just pass")
else :
    print("fail better luck next time")