<a href="https://colab.research.google.com/github/nadafrehan/Python-Daily-Classes/blob/main/REHAN19_09_2025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 1) Example sum of numbers using *args
def add(*args):
    total = 0
    for num in args :
        total += num
    print("Total value is :",total)
add(10,5)
add(5,4,9)
add(10,46,14,20)

Total value is : 15
Total value is : 18
Total value is : 90

In [ ]:
def print_details (**kwargs):
    for key, value in kwargs.items():
      print(f"{key}={value}")

print_details(name='Rehan',age=25,city='Banglore')

name=Rehan
age=25
city=Banglore

In [ ]:
def details(**kwargs):
    for key, value in kwargs.items():
      print(f' {key} = {value}')
details(course="BCA",section="c",collage="BK collage")
details(place = "Bengaluru")
details(roll_num=201, Total_Subject=7)
details(Laptop = "Lenova", O_S = "Windows", year = 2022 , version = "Windows")

 course = BCA
 section = c
 collage = BK collage
 place = Bengaluru
 roll_num = 201
 Total_Subject = 7
 Laptop = Lenova
 O_S = Windows
 year = 2022
 version = Windows

In [ ]:
# Example of *args and **kwargs
def Show_values(*args,**kwargs):
    print("Positional Arguments represented in Tuple",args)
    print("Key - words Arguments represented in Dict ",kwargs)
Show_values(1,2,3,4,name="Owais")

Show_values(5,8,1,10,Class = "BCA C section",Gender = "Male")

Positional Arguments represented in Tuple (1, 2, 3, 4)
Key - words Arguments represented in Dict  {'name': 'Owais'}
Positional Arguments represented in Tuple (5, 8, 1, 10)
Key - words Arguments represented in Dict  {'Class': 'BCA C section', 'Gender': 'Male'}

In [ ]:
def fact(num):
    if num == 0 or num ==1 :
       return num
    else :
       return num * fact(num-1)
print("Factorial number is :",fact(5))

Factorial number is : 120

In [ ]:
def sum(num):
  if num == 0 :
    return num
  else :
    return num + sum(num-1)
print("sum of N natural number is:", sum(10))

sum of N natural number is: 55

In [ ]:
# fibonacci series / number using function recusion
def fibo(num):
  if num <= 1 :
      return num
  else :
      return fibo(num-1) + fibo(num-2)
for i in range(11):
   print(fibo(i),end=" ")

0 1 1 2 3 5 8 13 21 34 55

In [ ]:
class Flower:
  Smell = "Nice"
  Petal = 5
  Size = "Medium"
  Gender = "Male"
  Validity = 1.5
  def Decoration(self):
      print("Hello Good Morning")
  def Gift(self):
      print("Good Afternoon")
  def Marriage(self):
      print("Marriage")
  def Death(self):
      print("This flower using for death time")

Obj = Flower()
Obj.Marriage()
print(Obj.Gender)
Obj.Decoration()
Obj.Gift()

Marriage
Male
Hello Good Morning
Good Afternoon

In [ ]:
class Fan :
   colour = "Black"
   Wings = 3
   C_name = "Bajaj"
   Price = 1500
   Warrenty = "2 years"
   def start(self):
       print("When click on button it'll start")
   def speed(self):
       print("Based on condition it'll move fast")
   def stop(self):
       print("When click on off button it'll start")

Obj = Fan()
print(Obj.C_name+ " "+ Obj.Warrenty)
Obj.stop()
Obj.start()

Bajaj 2 years
When click on off button it'll start
When click on button it'll start

In [ ]:
def fun(name):
    print("My name is a ",name)
fun("REHAN")

My name is a  Owais

In [ ]:
# Banking Example
class Bank :
    def __init__(self,balance):
      self.balance = balance

    def dDeposit(self,amount):
        self.balance += amount

    def Withdraw(self,amount):
        if amount <= self.balance:
            self.balance -= amount
            print("Transaction Successfully")
        else:
            print("Insufficient balance")

    def re_balance(self):
        return self.balance

Obj = Bank(1000)
print(Obj.balance)
Obj.dDeposit(500)
print(Obj.balance)
Obj.Withdraw(700)
print(Obj.re_balance())
Obj.dDeposit(1000)
print("Current total balance is : ",Obj.balance)

1000
1500
Transaction Successfully
800
Current total balance is :  1800

In [ ]:
class Student:
    def __init__(self, name, marks, place):
        self.__name = name
        self.__marks = marks
        self.__place = place

    def set_method(self, name, marks):
        self.__name = name
        self.__marks = marks


    def get_marks(self):
        return self.__marks


    def get_place(self):
        return self.__place

    def get_name(self):
        return self.__name

obj = Student("Rehan", 90, "Belgavi")
obj.set_method("Rehan", 68)


print(obj.get_name())
print(obj.get_marks())
print(obj.get_place())

Rehan
68
Belgavi

In [26]:
class Parent:
    def work(self):
        print("My parents are doing farming")

class Children(Parent):
    def study(self):
        print("I am studying BCA in BK College")

ch = Children()
ch.work()
ch.study()

My parents are doing farming
I am studying BCA in BK College

In [27]:
class Father:
    def hi(self):
        print("My father is my hero")

class Mother:
    def hello(self):
        print("My mother is a housewife")

class Child(Father, Mother):
    def bye(self):
        print("I am working as a freelancer")


obj = Child()


obj.hi()
obj.hello()
obj.bye()

My father is my hero
My mother is a housewife
I am working as a freelancer

In [31]:
class GrandParents:
    def formar(self):
        print("✅✅✅✅✅✅")

class Parent(GrandParents):
    def house(self):
        print("🏠🏠🏠🏠")

class Child(Parent):
    def jolly(self):
        print("😁😁😁😁")


c = Child()
c.formar()
c.house()
c.jolly()

✅✅✅✅✅✅
🏠🏠🏠🏠
😁😁😁😁
✅✅✅✅✅✅
🏠🏠🏠🏠
😁😁😁😁

In [38]:
class Parent:
    def business(self):
        print('My parent is doing business')

class Child1(Parent):
    def study(self):
        print('I am studying BCA')

class Child(Parent):
    def study(self):
        print('I am studying PUC')

In [42]:
class A:
    def hi(self):
        print("Hiiiiii")

class B:
    def hello(self):
        print('Hellowwww')

class C:
    def good(self):
        print("Byeeeee")

class D(B, C):
    def Good(self):
        print("Goooooddddd")

obj = D()

obj.hello()
obj.good()
obj.Good()

Hellowwww
Byeeeee
Goooooddddd