<a href="https://colab.research.google.com/github/nadafrehan/Python-Daily-Classes/blob/main/REHAN15_09_2025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Example = (1,"rehan",3.12,False)
print(Example)
print(len(Example))
print(type(Example))
print(Example.count(1))
print(Example[0:3])
print(Example[3])
print(Example[-1])
9

(1, 'rehan', 3.12, False)
4
<class 'tuple'>
1
(1, 'rehan', 3.12)
False
False

In [ ]:
Example = {1,1,2,3,3,4,5}
print(Example)
print(type(Example))
print(len(Example))
Example.add(10)
print(Example)
Example.add("BKC")
print(Example)

{1, 2, 3, 4, 5}
<class 'set'>
5
{1, 2, 3, 4, 5, 10}
{1, 2, 3, 4, 5, 'BKC', 10}

In [ ]:
Ex = {1,2,2,3,4,4,5,6,7}
print(Ex)
print(type(Ex))
print(len(Ex))
Ex.add("BKC")
print(Ex)
Ex.add(5.67)
print(Ex)
Ex.add("True")
Ex.remove(4)
print(Ex)
print(Ex.pop())
print(Ex)

{1, 2, 3, 4, 5, 6, 7}
<class 'set'>
7
{1, 2, 3, 4, 5, 6, 7, 'BKC'}
{1, 2, 3, 4, 5, 6, 7, 'BKC', 5.67}
{1, 2, 3, 5, 6, 7, 'BKC', 5.67, 'True'}
1
{2, 3, 5, 6, 7, 'BKC', 5.67, 'True'}

In [ ]:
first = {1,2,3,4,4,2}
second = {3,5,4,6}
print(first | second)
print(first|(second))
print(first & second)
print(first.intersection(second))

print(first - second)
print(first.difference(second))

print(second - first)
print(second.difference(first))

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{3, 4}
{3, 4}
{1, 2}
{1, 2}
{5, 6}
{5, 6}

In [ ]:
Dict = {"Roll_number" : 201,
        "Name"        : "Rehan",
        "Address"     : "Nasalapur",
         "CGPA"       : 7.53,
        "course"      : "MCA",
        "Year"        : 2022,
        "Age" : 18,
}
print(Dict)
print(len(Dict))
Dict["Gender"] = "Male"
print(Dict)
Dict["Mobile Number"] = "9035251410"
print(Dict)
Dict["Collage"] = "BK BCA Collage Chikkodi"
print(Dict)
print(Dict)
del Dict["Gender"]
print(Dict)
Dict["Gender"] = "Male"
print(Dict)
print(Dict["Collage"])
print(Dict["Age"])
print(Dict)
del Dict["Address"]
print(Dict)
Dict.popitem()
print(Dict)
print(Dict.keys())
print(Dict.values())
print(Dict.items())
print(Dict.clear())

{'Roll_number': 201, 'Name': 'Rehan', 'Address': 'Nasalapur', 'CGPA': 7.53, 'course': 'MCA', 'Year': 2022, 'Age': 18}
7
{'Roll_number': 201, 'Name': 'Rehan', 'Address': 'Nasalapur', 'CGPA': 7.53, 'course': 'MCA', 'Year': 2022, 'Age': 18, 'Gender': 'Male'}
{'Roll_number': 201, 'Name': 'Rehan', 'Address': 'Nasalapur', 'CGPA': 7.53, 'course': 'MCA', 'Year': 2022, 'Age': 18, 'Gender': 'Male', 'Mobile Number': '9035251410'}
{'Roll_number': 201, 'Name': 'Rehan', 'Address': 'Nasalapur', 'CGPA': 7.53, 'course': 'MCA', 'Year': 2022, 'Age': 18, 'Gender': 'Male', 'Mobile Number': '9035251410', 'Collage': 'BK BCA Collage Chikkodi'}
{'Roll_number': 201, 'Name': 'Rehan', 'Address': 'Nasalapur', 'CGPA': 7.53, 'course': 'MCA', 'Year': 2022, 'Age': 18, 'Gender': 'Male', 'Mobile Number': '9035251410', 'Collage': 'BK BCA Collage Chikkodi', 'university': 'R C University'}
{'Roll_number': 201, 'Name': 'Rehan', 'Address': 'Nasalapur', 'CGPA': 7.53, 'course': 'MCA', 'Year': 2022, 'Age': 18, 'Mobile Number': '9035251410', 'Collage': 'BK BCA Collage Chikkodi', 'university': 'R C University'}
{'Roll_number': 201, 'Name': 'Rehan', 'Address': 'Nasalapur', 'CGPA': 7.53, 'course': 'MCA', 'Year': 2022, 'Age': 18, 'Mobile Number': '9035251410', 'Collage': 'BK BCA Collage Chikkodi', 'university': 'R C University', 'Gender': 'Male'}
BK BCA Collage Chikkodi
18
{'Roll_number': 201, 'Name': 'Rehan', 'Address': 'Nasalapur', 'CGPA': 7.53, 'course': 'MCA', 'Year': 2022, 'Age': 18, 'Mobile Number': '9035251410', 'Collage': 'BK BCA Collage Chikkodi', 'university': 'R C University', 'Gender': 'Male'}
{'Roll_number': 201, 'Name': 'Rehan', 'CGPA': 7.53, 'course': 'MCA', 'Year': 2022, 'Age': 18, 'Mobile Number': '9035251410', 'Collage': 'BK BCA Collage Chikkodi', 'university': 'R C University', 'Gender': 'Male'}
{'Roll_number': 201, 'Name': 'Rehan', 'CGPA': 7.53, 'course': 'MCA', 'Year': 2022, 'Age': 18, 'Mobile Number': '9035251410', 'Collage': 'BK BCA Collage Chikkodi', 'university': 'R C University'}
dict_keys(['Roll_number', 'Name', 'CGPA', 'course', 'Year', 'Age', 'Mobile Number', 'Collage', 'university'])
dict_values([201, 'Rehan', 7.53, 'MCA', 2022, 18, '9035251410', 'BK BCA Collage Chikkodi', 'R C University'])
dict_items([('Roll_number', 201), ('Name', 'Rehan'), ('CGPA', 7.53), ('course', 'MCA'), ('Year', 2022), ('Age', 18), ('Mobile Number', '9035251410'), ('Collage', 'BK BCA Collage Chikkodi'), ('university', 'R C University')])
None

In [ ]:
a = 10
b = 3
c = a+b
print(type(a))
print(type(b))
print(type(c))

print(type(a/b))

x = 2.5
y = 3.5
print(type(x+y))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>
<class 'float'>

In [ ]:
#int ->float

i = 20
j = 5.5
k = i+j
print(type(k))

<class 'float'>

In [ ]:
#\
a = 49
b = 7
print(type(a/b))

<class 'float'>

In [ ]:
i = True
j = 5
print(type(i+j))

<class 'int'>

In [ ]:
M = 2.9
N = False
O = M-N
print(type(0))

<class 'int'>

In [ ]:
p = True
q = False
R = p+q
print(type(R))

<class 'int'>

In [ ]:
S = 2.6
T = False
print(type(S*T))

<class 'float'>

In [ ]:
num =3/2
print(type(num))
add = int (num)
print(type(add))

<class 'float'>
<class 'int'>

In [ ]:
num = 3.12
print(type(num))
add = int(num)
print(type(add))

mul = float(add)
print(type(mul))

<class 'float'>
<class 'int'>
<class 'float'>

In [ ]:
Num = "101"
print(type(Num))
add = int(Num)
print(type(add))

<class 'str'>
<class 'int'>

In [ ]:
Ex = True
print(type(Ex))
Fem = int(Ex)
print(type(add))

<class 'bool'>
<class 'int'>

In [ ]:
demo = 1
print(type(demo))
print(type(bool(demo)))

<class 'int'>
<class 'bool'>

In [ ]:
demo = 9.99
print(type(demo))
print(type(bool(demo)))

<class 'float'>
<class 'bool'>

In [ ]:
demo = False
print(type(demo))
print(type(float(demo)))

<class 'bool'>
<class 'float'>

In [ ]:
# 1) str -> list
Num1 = "Rehan"
print(type(Num1))

Ex = list(Num1)
print(type(Ex))

<class 'str'>
<class 'list'>

In [ ]:
# 2)tupal -> list
Num2 = (1,2,3,4,5)
print(type(Num2))

Ex2 = list(Num2)
print(type(Ex2))

<class 'tuple'>
<class 'list'>

In [ ]:
# 3)set -> list
Num3 = {1,23,4,5}
print(type(Num3))

Ex3 = list(Num3)
print(type(Ex3))

<class 'set'>
<class 'list'>

In [ ]:
# 4)Dict-> list
Num4 = {}
print(type(Num4))

Ex4 = list(Num4)
print(type(Ex4))

<class 'dict'>
<class 'list'>

In [ ]:
# 1) list -> Dict
Num2 = [("a",1),("b",2),("c",3)]
print(type(Num2))

Ex2 = dict(Num2)
print(type(Ex2))

<class 'list'>
<class 'dict'>

In [ ]:
# 2) tuple -> dict
Num3 = (("name","Rehan"),("Age",25))
print(type(Num3))

Ex3 = dict(Num3)
print(type(Ex3))

<class 'tuple'>
<class 'dict'>

In [ ]:
# 3)set-> dict
Num4 = {("Roll Number",501),("section","C")}
print(type(Num4))

Ex4=dict(Num4)
print(type(Ex4))

<class 'set'>
<class 'dict'>

In [154]:
#I/P a=10,b=20
#O/P a=20,b=10

A=10
B=20
print("Before Swapping")
print("A=",A,"B=",B)

print("After Swapping")
temp=A
A=B
B=temp
print("A=",A,"B=",B)

Before Swapping
A= 10 B= 20
After Swapping
A= 20 B= 10

In [156]:
X = 10
Y = 20
print("Before swapping")
print("X=",X,"Y=",Y)
X=X+Y
Y=X-Y
X = X-Y
print("X=",X,"Y=",Y)

Before swapping
X= 10 Y= 20
X= 20 Y= 10