<a href="https://colab.research.google.com/github/nadafrehan/Python-Daily-Classes/blob/main/REHAN17_09_2025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a ,b,c = 25,35,15
if a > b :
  if a > c :
    print("A is a largest number")
  else :
    print("C is a largest number")
else :
  if b > c :
    print("B is a largest number")
  else :
    print("C is a largest number")

B is a largest number

In [ ]:
a,b,c=25,30,40
if a > b :
  if a > c :
    print("A is a largest number",a)
  else :
    print("C is the largest number",c)
else :
  if b > c :
    print("B ia the largest number",b)
  else :
    print("C is the largest number")

C is the largest number

In [34]:
num = -5
if num > 0 :
  if num == 0 :
    print("Zero value")
else :
  print("Negative numbe")

Negative numbe

In [ ]:
num = int(input("Enter number value is : "))
if num > 0 :
  if num == 0 :
    print("Zero value")
  else :
    print("Positive number")
else :
    print("Negative number")

In [ ]:
#Write a program arthmatic oprator usibg switch statements
x, y = 10,20
option = input("Enter youre choice option : ")
match option :
     case '+':
           print("Sum of values", x + y)
     case '-':
           print("substraction of values", x + y)
     case '*':
           print("multiplication of values", x*y)
     case '/':
           print("division of values", x/y )
     case '%':
           print("modelus of values", x%y)
     case '!=':
           print("",x!=y)
     case _ :
           print("invalid operator")

In [ ]:
day = int(input("Enter your choice option :"))
match option :
  case 1 :
    print("Monday")
  case 2 :
    print("Tuesday")
  case 3 :
    print("Wednesday")
  case 4 :
    print("Thursday")
  case 5 :
    print("Friday")
  case 6 :
    print("Saturday")
  case 7 :
    print("Sunday")
  case _ :
    print("Holiday")

In [ ]:
day = int(input("Enter your choice option :"))
match option :
  case 1 :
    print("january")
  case 2 :
    print("February")
  case 3 :
    print("march")
  case 4 :
    print("april")
  case 5 :
    print("may")
  case 6 :
    print("September")
  case 7 :
    print("october")
  case _ :
    print("Invalid choice")

In [ ]:
i = 1
while i <= 60 :
      print(i)
      i +=1

In [ ]:
print(*range(1,60))

In [ ]:
i = 1
add = 0
while i <= 10:
 add= add + i
 i =i + 1

print("sum of N natural number is : ",add)

In [ ]:
num = 5
i = 1
while i <= 10 :
    print("5 *",i,"=",num*i)
    i = i + 1

In [ ]:
num = int(input("Enter the number : "))
rem = 0
rev = 0
temp = num
while num > 0 :
  rem = num % 10
  rev = rev * 10 + rem
  num = num // 10
if temp == rev :
  print("polindrom number")
else :
  print("Not poloride number")

In [1]:
i =2
while i <=100 :
  print(i, end = " ")
  i +=2

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [ ]:
num = int(input("Enter a number value"))
count = 0
i = 1
while i <=1 :
  if num % i == 0:
    count+=1
  i+=1
if count == 2 :
  print("The number is prime")
else :
  print("The number is not prime")

Enter a number value454
The number is not prime

In [ ]:
i = 1
while i <= 1280 :
  print(i, end=" ")
  i*=2

1 2 4 8 16 32 64 128 256 512 1024

In [ ]:
colours = ['Blue','red','pink','Black']
for i in colours :
    print (i)

Blue
red
pink
Black

In [ ]:
numbers = {1,2,3,4,5,6,7,8,9}
for i in numbers :
  print(i)

1
2
3
4
5
6
7
8
9

In [27]:
Name = "KLE BK BCA Collage in chikkodi"
rev = ""
for i in Name:
    rev = i + rev
print(rev)

idokkihc ni egalloC ACB KB ELK

In [2]:
# Sum of first 10 natural numbers
n = 10
total = 0

for i in range(1, n + 1):
    total += i

print("Sum of first", n, "natural numbers is", total)

Sum of first 10 natural numbers is 55

In [3]:
for i in range(1,10+1):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [4]:
# Multiplication table of 4
num = 4

for i in range(1, 11):
    print(f"{num} x {i} = {num * i}")
0.

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

0.0

In [5]:
for i in range(2,101,2):
  print(i,end=" ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [8]:
fact = 1
for i in range(1,6) :
    fact = fact * i
print("Factorial number is : ",fact)

Factorial number is :  120

In [18]:
a , b = 0,1
for i in range(1,14):
  print(a,b,end=" ")
  a, b = b, a+b

0 1 1 1 1 2 2 3 3 5 5 8 8 13 13 21 21 34 34 55 55 89 89 144 144 233