<a href="https://colab.research.google.com/github/nadafrehan/Python-Daily-Classes/blob/main/REHAN13_09_2025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a,b,c = "good" , "morning" , 18
print(a,b,c)

good morning 18

In [ ]:
name,college,degree,roll="rehan","bk","BCA",101
print("hi good morning, i am",name,"i am studing",degree,"in",college, "collage at chikkodi","my roll number is",roll)

hi good morning, i am rehan i am studing BCA in bk collage at chikkodi my roll number is 101

In [ ]:
A = B , C = "collage", 25
print(B, C, A)

collage 25 ('collage', 25)

In [ ]:
A = y10
B = 20
print("addition of",A,"and",B, "is =",A+B)

addition of 10 and 20 is = 30

In [ ]:
NAme = "false"
print(type(NAme))

<class 'str'>

In [ ]:
yes = """True"""
print(yes)

True

In [ ]:
first = "BKC"
second = "college "
print(((first+" "+second)+"\n")*5)

BKC college
BKC college
BKC college
BKC college
BKC college

In [ ]:
Name = "python programing languages"
print(Name[::-3])

san irrnt

In [ ]:
Details ='''multi line comment
hi, Good Morning
'''
print(Details)

multi line comment
hi, Good Morning

In [ ]:
Details = [101]
print(Details)
print(type(Details))

Details.append(85.12)
Details.append(True)
print(Details)

Details.append('Rehan')
Details.append(99)
Details.append(9)
Details.append('BK College')
Details.append('Doubles') # fixed here

print(Details)

Details.pop()
print(Details)
print(Details)
print(Details[2])
print(Details[-1])

Details.append("BKC College")
print(Details)

Details[1] = 99
print(Details)

print(Details[2:4])

Details.insert(2, False)
print(Details)

Details.remove(False)
print(Details)
x=5
print(x)
print(Details.count(101))

[101]
<class 'list'>
[101, 85.12, True]
[101, 85.12, True, 'Rehan', 99, 9, 'BK College', 'Doubles']
[101, 85.12, True, 'Rehan', 99, 9, 'BK College']
[101, 85.12, True, 'Rehan', 99, 9, 'BK College']
True
BK College
[101, 85.12, True, 'Rehan', 99, 9, 'BK College', 'BKC College']
[101, 99, True, 'Rehan', 99, 9, 'BK College', 'BKC College']
[True, 'Rehan']
[101, 99, False, True, 'Rehan', 99, 9, 'BK College', 'BKC College']
[101, 99, True, 'Rehan', 99, 9, 'BK College', 'BKC College']
5
1